<!DOCTYPE html>
<html lang="en">
<head>
<% include head %>
</head>
<body>
<div id="wrapper">
<% include nav %>


<div id="page-wrapper">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-primary">
                        <div class="panel-body">
Welcome to the Dashboard
</div>
</div>
</div>
</div>
</div>
</div>


</body>
</html>