<!DOCTYPE html>
<html lang="en">
<head>
<% include head %>
</head>
<body>
<div id="wrapper">
<% include nav %>


<div id="page-wrapper">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-primary">
                        <div class="panel-body">
  <h1>Users List</h1>

  <ul class="users">
  <% for(var i=0; i<users.length; i++) {%>
    <li class="user">
      <span><a href="/edit/<%= users[i]._id %>" title="Update">
      <%= users[i].local.email %></a></span>
      <span><a href="/delete/<%= users[i]._id %>" title="Delete this user">Delete</a></span>
     
    </li>
  <% } %>

  </ul>

<!--</users.length;>
</ul>-->
</div>
</div>
</div>
</div>
</div>
</div>


</body>
</html>